n8n/email_notification_workflow.json
{
  "name": "CyberShield – Email Notification Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cybershield-notification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-notify",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@cybershield.ai",
        "toEmail": "={{$json[\"email\"]}}",
        "subject": "={{$json[\"subject\"]}}",
        "text": "={{$json[\"body\"]}}",
        "options": {}
      },
      "id": "send-notification",
      "name": "Send Notification Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"notification_sent\"}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Trigger":        { "main": [[ { "node": "Send Notification Email", "type": "main", "index": 0 } ]] },
    "Send Notification Email": { "main": [[ { "node": "Respond",               "type": "main", "index": 0 } ]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["cybershield", "notifications", "email"]
}
