n8n/threat_report_workflow.json
{
  "name": "CyberShield – Threat Report Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1 }] }
      },
      "id": "schedule-trigger",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{$env[\"CYBERSHIELD_API_URL\"]}}/api/v1/dashboard/summary",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-stats",
      "name": "Fetch Dashboard Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "reports@cybershield.ai",
        "toEmail": "={{$env[\"ADMIN_EMAIL\"]}}",
        "subject": "📊 AI CyberShield – Weekly Threat Report",
        "text": "=Weekly Security Report\n\nTotal Scans: {{$json[\"total_scans\"]}}\nPhishing Detected: {{$json[\"phishing_found\"]}}\nOpen Alerts: {{$json[\"unread_alerts\"]}}\nAvg Threat Score: {{$json[\"threat_score\"]}}\n\nGenerated by AI CyberShield Automation.",
        "options": {}
      },
      "id": "send-report",
      "name": "Send Weekly Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Weekly Schedule":     { "main": [[ { "node": "Fetch Dashboard Stats", "type": "main", "index": 0 } ]] },
    "Fetch Dashboard Stats": { "main": [[ { "node": "Send Weekly Report",   "type": "main", "index": 0 } ]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["cybershield", "reports", "scheduled"]
}
